<div ng-controller="HeaderCtrl"  class="header">
  <ul class="nav nav-pills pull-right">
    <li ng-class="{ active: isActive('/home')}"><a ng-href="#/home" >Home</a></li>
    <li ng-class="{ active: isActive('/about')}"><a ng-href="#/about">About</a></li>
    <li ng-class="{ active: isActive('/links')}"><a ng-href="#/links">Links</a></li>
    <li ng-class="{ active: isActive('/photos')}"><a ng-href="#/photos">Photos</a></li>
    <li ng-class="{ active: isActive('/videos')}"><a ng-href="#/videos">Videos</a></li>
    <li ng-class="{ active: isActive('/articles')}"><a ng-href="#/articles">Articles</a></li>
  </ul>
  <h3 class="text-muted">Build a Webiste</h3>
</div>
